* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
} 


$mainText: rgb(236, 6, 6);
$secondaryText: rgb(32, 32, 32);
$borderColor: rgb(88, 156, 88);

h1, h2, h3, h4, h5, h6, strong {
    color: $mainText;
}

p, label, span, input, textarea {

}

