* {
    margin: 0;
    padding: 0;
    font-family: 'Russo One', sans-serif;
} 


$mainText: rgb(0, 0, 0);
$secondaryText: rgb(32, 32, 32);
$borderColor: rgb(88, 156, 88);
$mainColor: rgb(255, 255, 255);
$secondaryColor: lightgrey;

h1, h2, h3, h4, h5, h6, strong {
    color: $mainText;
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

p, label, span, input, textarea {
    font-family: 'Russo One', sans-serif;
}

.s1, .s2 {
    //border: 1px solid $borderColor;
    //overflow: auto;
}
.s1 {
    background-color: $secondaryColor;
}

.s2 { 
    background-color: white;
}

p {
    font-family: 'Roboto Mono', monospace;
}

.main--container {
    width: 1200px;
    margin: 0 auto;
}


@media screen and (max-width: 1200px) {
    .main--container {
        width: 95%;
    }
}

a {
    text-decoration: none;
    color: dodgerblue;
} 

ul {
    list-style: none;
}

h1 {font-size: 56px;};
h2 {font-size: 36px;};
h3 {font-size: 28px;};
h4 {font-size: 24px;};
h5 {font-size: 20px;};
h6 {font-size: 16px;};

.greeting--wrapper {
    display: grid;
    //border: 1px solid red;
    justify-content: center;
    min-height: 10em;
    align-content: center;
    align-items: center;
}

.intro--wrapper {
    background-color: $mainColor;
    -webkit-box-shadow: 13px -6px 10px -2px rgba(0,0,0,0.48);
    -moz-box-shadow: 13px -6px 10px -2px rgba(0,0,0,0.48);
    box-shadow: 13px -6px 10px -2px rgba(0,0,0,0.48);

    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 30em;
    grid-template-areas: 
        'nav--wrapper nav--wrapper'
        'left--column right--column';
    border: 2px double $mainText;
    border-radius: .5em;
}

.nav--wrapper {
    grid-area: nav--wrapper;
    background-color: $secondaryColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0
}

.left--column {
    grid-area: left--column;
    #profile--pic {
        width: 150px;
        height: 200px;
        align-self: center;
    }
}

.right--column {
    grid-area: right--column;
}

.dots{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin:0 0 0 10px;
    &--wrapper {
        display: flex;
    }
    
}

.red {
    background-color: red;
}

.yellow {
    background-color: rgb(255, 239, 147);
}

.green {
    background-color: rgb(12, 206, 12);
}

#navigation {
    margin: 0;
    padding: 10px;
    li {
        display: inline-block;
        margin: 0 5px;
        
    }
}

.theme--options {
    display: flex;
    justify-content: center;
    align-items: center;
}