* {
  margin: 0;
  padding: 0;
  font-family: 'Russo One', sans-serif; }

h1, h2, h3, h4, h5, h6, strong {
  color: black;
  font-family: 'Russo One', sans-serif;
  font-weight: 500; }

p, label, span, input, textarea {
  font-family: 'Russo One', sans-serif; }

.s1 {
  background-color: lightgrey; }

.s2 {
  background-color: white; }

p {
  font-family: 'Roboto Mono', monospace; }

.main--container {
  width: 1200px;
  margin: 0 auto; }

@media screen and (max-width: 1200px) {
  .main--container {
    width: 95%; } }
a {
  text-decoration: none;
  color: dodgerblue; }

ul {
  list-style: none; }

h1 {
  font-size: 56px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 16px; }

.greeting--wrapper {
  display: grid;
  justify-content: center;
  min-height: 10em;
  align-content: center;
  align-items: center; }

.intro--wrapper {
  background-color: white;
  -webkit-box-shadow: 13px -6px 10px -2px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 13px -6px 10px -2px rgba(0, 0, 0, 0.48);
  box-shadow: 13px -6px 10px -2px rgba(0, 0, 0, 0.48);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'nav--wrapper nav--wrapper' 'left--column right--column';
  border: 2px double black;
  border-radius: .5em; }

.nav--wrapper {
  grid-area: nav--wrapper;
  background-color: lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px 5px 0 0; }

.left--column {
  grid-area: left--column;
  padding: 40px 0; }

.right--column {
  grid-area: right--column; }

#preview {
  width: 300px;
  border: 1.5px solid cyan;
  background-color: rgba(248, 231, 231, 0.726);
  padding: 15px; }

.corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid cyan; }

.dots {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 0 0 0 10px; }
  .dots--wrapper {
    display: flex; }

.red {
  background-color: red; }

.yellow {
  background-color: #ffef93; }

.green {
  background-color: #0cce0c; }

#navigation {
  margin: 0;
  padding: 10px; }
  #navigation li {
    display: inline-block;
    margin: 0 5px; }

#profile--pic {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 0 auto;
  display: block; }

.theme--options {
  display: flex;
  justify-content: center; }

.theme--dots {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;
  -webkit-box-shadow: 13px -6px 10px -2px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 13px -6px 10px -2px rgba(0, 0, 0, 0.48);
  box-shadow: 13px -6px 10px -2px rgba(0, 0, 0, 0.48);
  margin: 5px;
  border: 2px solid #0dd196;
  cursor: pointer; }
  .theme--dots:hover {
    border-width: 5px;
    transition: 0.2s ease-in-out; }

#light--mode {
  background-color: white; }

#blue--mode {
  background-color: blue; }

#green--mode {
  background-color: green; }

#purple--mode {
  background-color: purple; }

#settings--note {
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
  font-style: italic; }

/*# sourceMappingURL=style.css.map */
